<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 info-home">
                <div class="logo">
                    <img src="assets/images/logo.svg" alt="">
                </div>
                <div class="image-info">
                    <div class="image">
                        <img src="assets/images/health.svg" alt="">
                    </div>
                    <div class="info-text">
                        <h4>Nosso aplicativo foi cuidadosamente projetado para oferecer a vocês uma experiência abrangente e personalizada na jornada da prevenção. Queremos capacitá-los a tomar decisões informadas sobre a saúde e adotar hábitos que promovam o bem-estar a longo prazo.</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-7 login">
                <div class="row container-login">
                    <div class="col-md-12">
                        <h1>Faça login na sua conta</h1>
                    </div>
                    <div class="col-md-12">
                        <h5>Faça login para acessar o painel da sua saúde. Explore seus agendamentos, gerencie seus
                            dados e obtenha informações importantes sobre seu bem-estar
                        </h5>
                    </div>
                    <div class="col-md-12">
                        <form class="form-login">
                            <div class="form-group mb-3">
                                <label for="name">Email:</label>

                                <div class="input-group">
                                    <span class="input-group-text">
                                        <!-- Adicione o ícone de e-mail -->
                                        <i class="bi bi-envelope"></i>
                                    </span>
                                    <input [(ngModel)]="email" name="email" type="email" class="form-control" id="email" placeholder="Digite seu e-mail">
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label for="password">Password:</label>
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <!-- Adicione o ícone de e-mail -->
                                        <i class="bi bi-lock"></i>
                                    </span>
                                    <input [(ngModel)]="password" name="password" type="password" class="form-control" id="password"
                                        placeholder="Digite sua senha">
                                </div>
                            </div>

                            <div *ngIf="isErroLogin">
                                <label style="color: red;" class="ml-10" for="">E-mail e/ou senha incorretos. Tente novamente.</label>
                            </div>

                            <div class="mb-3 remember-password">
                                <div style="display: flex; align-items: center; gap: 10px;">
                                    <input class=" ml-10 form-check-input" type="checkbox" id="exampleCheckbox">
                                    <label class="ml-10" for="">Lembre-se de mim</label>
                                </div>
                                <div class="forgot-your-password">
                                    <a href="">Esqueci minha senha</a>
                                </div>
                            </div>
                            <div class="mb-3">
                                <button (click)="login()" type="submit" class="btn btn-primary">Login</button>
                            </div>
                            <div class="mb-3">
                                <label for="">Ainda não possui uma conta? <a (click)="createAccount()" href="/register">Cadastre-se</a></label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>