@import "~bootstrap/dist/css/bootstrap.css";

:root {
  
  --primary-color: #3E57AF;
  --text-light: #ECECEC;
}

body,
h1,
h2,
h3,
p,
figure,
ul,
li,
form,
fieldset,
legend,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
