<div class="home-page">
    <div class="nav-bar">

        <div class="sidebar">
            <div class="home-logo">
                <img src="assets/images/logo.svg" alt="">
            </div>
            <a (click)="showPanel()"><i class="bi bi-clipboard2-data-fill"></i> Meu painel</a>
            <a (click)="showUserData()"><i class="bi bi-person-vcard"></i> Meus dados</a>
            <div class="footer">

            </div>
        </div>
    </div>
    <div class="home-content">
        <ng-container *ngIf="selectedMenuItem === 'panel'">
            <app-panel></app-panel>
          </ng-container>
      
          <ng-container *ngIf="selectedMenuItem === 'userData'">
            <app-user-data></app-user-data>
          </ng-container>
    </div>
</div>