.home-page {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    height: 100vh;
    gap: 10px;
}

body {
    overflow-x: hidden;
}

.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    padding-top: 20px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: var(--text-light);
    display: block;
}

.sidebar a:hover {
    color: black;
}

.content {
    margin-left: 250px;
    padding: 16px;
}

.home-logo{
    padding: 20px;

}

.home-content{
    padding: 20px;
}