
<div class="cards">
    <div class="card"  [ngClass]="{'red': status === 'vermelho', 'green': status === 'verde', 'yellow': status === 'amarelo'}">
        <div>
            <p class="tip">Probabilidade</p>
        </div>
        <div>
            <p class="second-text">{{percent}}%</p>
        </div>
    </div>
</div>
  