<div class="title">
    Meu painel
</div>

<div style="display: flex; gap: 20px; align-items: center;">
    <h3>IMC:</h3>
    <div style="width: 40%; display: flex; gap: 10px; border: 2px solid gray; padding: 4px; border-radius: 4px;">
        <div style="border-right: 2px solid gray; margin-right: 10px;">
            <h2 style="margin-right: 10px;">{{imcValue}}</h2>
        </div>
        <div>
            <h2>{{imcDescription}}</h2>
        </div>
    </div>
</div>

<div class="data-container">
    <div class="user-infos">
        <div class="title">
            <h3>Diabetes</h3>
        </div>
        <div class="content">
            <div class="user-analytics">
                <div class="analytics-card">
                    <app-card [status]="diabetesRiskCor" [percent]="diabetesRisk"></app-card>
                </div>
            </div>
            <div class="user-description">
                <p *ngIf="diabetesRiskCor === 'vermelho'">{{mensageAltoRiscoDiabetes}}</p>
                <p *ngIf="diabetesRiskCor === 'amarelo'">{{mensageMedioRiscoDiabetes}}</p>
                <p *ngIf="diabetesRiskCor === 'verde'">{{mensageBaixoRiscoDiabetes}}</p>
            </div>
        </div>
    </div>

    <div class="user-infos">
        <div class="title">
            <h3>Ataque cardíaco</h3>
        </div>
        <div class="content">
            <div class="user-analytics">
                <div class="analytics-card">
                    <app-card [status]="cardiacRiskCor" [percent]="cardiacRisk"></app-card>
                </div>
            </div>
            <div class="user-description">
                <p *ngIf="cardiacRiskCor === 'vermelho'">{{mensageAltoRiscoCardiac}}</p>
                <p *ngIf="cardiacRiskCor === 'amarelo'">{{mensageMedioRiscoCardiac}}</p>
                <p *ngIf="cardiacRiskCor === 'verde'">{{mensageBaixoRiscoCardiac}}</p>
            </div>
        </div>
    </div>
</div>
