.content{
    display: flex;
    gap: 20px;
}

.data-container{
    margin-bottom: 20px;
}

.user-infos{
    margin-bottom: 20px;
}

.user-description{
    width: 50%;
}

.title{
    margin-bottom: 10px;
}