.content {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;

}

.info-home {
    background-color: var(--primary-color);
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.login {
    display: flex;
    align-items: center;
}

.container-fluid {
    margin-top: 0px;
    padding: 0px;
}

.container-login {
    width: 100%;
    gap: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.form-login {
    width: 100%;
}

.forgot-your-password a {
    color: var(--primary-color);
}

.row {
    margin: 0;
}

.container-fluid {
    margin: 0;
}

.create-account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.image-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.image{
   width: 250px;
   height: 250px;
}

.info-text{
    color: var(--text-light);
}

label a{
    color: var(--primary-color);
}