<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 info-home">
        <div class="logo">
          <img src="assets/images/logo.svg" alt="" />
        </div>
        <div class="image-info">
          <div class="image">
            <img src="assets/images/health.svg" alt="" />
          </div>
          <div class="info-text">
            <h4>Nosso aplicativo foi cuidadosamente projetado para oferecer a vocês uma experiência abrangente e personalizada na jornada da prevenção. Queremos capacitá-los a tomar decisões informadas sobre a saúde e adotar hábitos que promovam o bem-estar a longo prazo.</h4>
          </div>
        </div>
      </div>
      <div class="col-md-7 login">
        <div class="row container-login">
          <div class="col-md-12">
            <h1>Dados de Cadastro</h1>
          </div>
          <div class="col-md-12">
            <form class="form-login">
              <div class="form-group mb-3">
                <label for="cpf">CPF:</label>
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="bi bi-envelope"></i>
                  </span>
                  <input
                    required
                    type="text"
                    class="form-control"
                    id="cpf"
                    placeholder="Digite o CPF"
                    name="cpf"
                    [(ngModel)]="cpf"
                  />
                </div>
              </div>

              <div class="form-group mb-3">
                <label for="name">Email:</label>
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="bi bi-envelope"></i>
                  </span>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    placeholder="Digite seu e-mail"
                    [(ngModel)]="email"
                  />
                </div>
              </div>

              <div class="form-group mb-3">
                <label for="password">Senha:</label>
                <div class="input-group">
                  <span class="input-group-text">
                    <i class="bi bi-lock"></i>
                  </span>
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    id="password"
                    placeholder="Digite sua senha"
                    [(ngModel)]="password"
                  />
                </div>
              </div>

              <div class="form-group mb-3">
                <label for="password">Confirmar senha:</label>
                <div class="input-group">
                  <span class="input-group-text">
                    <!-- Adicione o ícone de e-mail -->
                    <i class="bi bi-lock"></i>
                  </span>
                  <input
                    type="password"
                    class="form-control"
                    id="confirm-password"
                    placeholder="Digite sua senha"
                  />
                </div>
              </div>

              <div class="mb-3 create-account">
                <div class="forgot-your-password">
                  <label for=""
                    >Já possui cadastro? <a href="/login">Fazer login</a></label
                  >
                </div>
                <div>
                  <button
                    (click)="createAccount()"
                    type="submit"
                    class="btn btn-primary"
                  >
                    Cadastrar-se
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
